body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 50%;
  }

  img {
    width: 80%;
    margin: 0 auto;
  }
}
